@keyframes flashingAnimation {

    0%,
    49%,
    100% {
        opacity: 1;
    }

    50%,
    99% {
        opacity: 0;
    }
}

.text-container {
    overflow: hidden;
}

.flashing-text {
    animation: flashingAnimation 1s infinite;
    /* Adjust the duration as needed */
}